*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/feature_favorite/build/
/feature_favorite/build/intermediates/javac/debug/classes/
/feature_search/build/
/feature_search/build/intermediates/javac/debug/classes/
/omdb-model/build/
/omdb-model/build/intermediates/javac/debug/classes/